<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <div id="navbar">
        <a href="/" id="logoA"><img src="/images/logo.png" alt="" id="logo"></a>
        <a href="/about" id="navbarText">About</a>
        <a href="#contact" id="navbarText">Contact</a>
        <img src="/images/heaventext.png" alt="" id="fronttext">
    </div>
    <p>
        This is comic book store YEAH YEAH YEAH! (destroey lonely).
    </p>
    <div id="blessup"><img src="/images/bless.jpg" alt="" id="bless"></div>
    <img src="/images/divine.gif" alt="" id="flamesofdoom">
    <img src="/images/holylight.gif" alt="" id="flamesofdoom2">
</body>
</html>