<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/store_image.css">
</head>
<body>
    <div id="navbar">
        <a href="/" id="logoA"><img src="/images/logo.png" alt="" id="logo"></a>
        <a href="/about" id="navbarText">About</a>
        <a href="#contact" id="navbarText">Contact</a>
        <img src="/images/fronttext.png" alt="" id="fronttext">
    </div>

    <div align="center" id="container">
        <form>
            <td>
                <% for (let i = 0; i < comics.length; i++) { %>
                    <a href="/comic?=id<%= comics[i].id %>"><span><img src="<%= comics[i].image %>" alt="" id="storepic"></button></span></a>
                <% } %>
            </td>
        </form>
    </div>

    <img src="/images/laflame.gif" alt="" id="flamesofdoom">
    <img src="/images/laflame.gif" alt="" id="flamesofdoom2">
</body>
</html>